.theme-menu {
	/* font-family: var(--font-second-family, mospace);
	font-size: 14px; */
	/* text-transform: none; */
	padding-inline-start: 20px;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.theme-menu__button {
	text-transform: uppercase;
}
