.theme-menu {
	padding-inline-start: 20px;
}

.theme-menu__list {
	display: flex;
	flex-direction: column;
	gap: 13px;
}

.theme-menu__button {
	position: relative;
	text-transform: uppercase;
}

.theme-menu__button:disabled::before {
	content: '▶';
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: -20px;
}
