.floppy {
	padding: 15px 20px;
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
	place-items: center;
	margin-block-start: 52px;
}

.floppy__text {
	margin-block-start: 8px;
}

.floppy__svg {
	--color-svg: var(--color-button-text);
	color: var(--color-svg);
	width: 28px;
	height: 28px;
	mix-blend-mode: difference;
}

@media (width >= 1440px) {
	.floppy_desktop {
		flex-direction: row-reverse;
		gap: 8px;
		padding-inline: 19px;
	}

	.floppy__svg {
		width: 21px;
		height: 21px;
	}
}
