:root.theme-dark {
	--font-weight-title: var(--weight-b);
	--font-weight-text: var(--weight-r);

	--color-page-text: var(--lime);
	--color-page-accent: var(--lime);
	--color-page-bgc: var(--black);
}

:root.theme-light {
	--weight-b: 700;
	--weight-r: 400;

	--font-weight-title: var(--weight-b);
	--font-weight-text: var(--weight-r);

	--color-page-text: var(--black);
	--color-page-accent: var(--black);
	--color-page-bgc: var(--white);
}

@media (prefers-color-scheme: light) {
	:root {
		--weight-b: 700;
		--weight-r: 400;

		--font-weight-title: var(--weight-b);
		--font-weight-text: var(--weight-r);

		--color-page-text: var(--black);
		--color-page-accent: var(--black);
		--color-page-bgc: var(--white);
	}
}
