:root {
	--lime: #00cc14;
	--black: #000;
	--white: #fff;
	--weight-b: 785;
	--weight-r: 465;

	--font-main-family: 'Inter';
	--font-second-family: 'Press-Start-2P';
	--font-weight-title: var(--weight-b);
	--font-weight-text: var(--weight-r);
	/* переменные для карточки определить внутри самой карточки */
	--font-card-weight-title: var(--weight-b);
	--font-card-weight-text: var(--weight-r);

	--color-page-text: var(--lime);
	--color-page-accent: var(--lime);
	--color-page-bgc: var(--black);

	--background-gradient: repeating-linear-gradient(
			90deg,
			#000 0 2px,
			rgb(0 0 0 / 0) 2px 4px
		),
		repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
		linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
