:root {
	--lime: #00cc14;
	--black: #000;
	--white: #fff;
	--weight-b: 785;
	--weight-r: 465;
	--weight-bs: 700;
	--weight-rs: 400;
	--font-small: 14px;
	--font-small-plus: 18px;
	--font-main-family: 'Inter';
	--font-second-family: 'Press-Start-2P';

	--accent-color: var(--lime);
	--color-background: var(--black);
	--color-border: var(--lime);

	--background-gradient: repeating-linear-gradient(
			90deg,
			#000 0 2px,
			rgb(0 0 0 / 0) 2px 4px
		),
		repeating-linear-gradient(180deg, #000 0 2px, rgb(0 0 0 / 0) 2px 4px),
		linear-gradient(180deg, #007f0c 0%, #004306 100%);
}
