:root {
	--lime: #00cc14;
	--black: #000;
	--white: #fff;
	--weight-b: 785;
	--weight-r: 465;

	--font-main-family: 'Inter';
	--font-second-family: 'Press-Start-2P';
	--font-card-weight-title: var(--weight-b);
	--font-card-weight-text: var(--weight-r);

	--color-page-text: var(--lime);
	--color-page-accent: var(--lime);
	--color-page-bgc: var(--black);
}
