.page {
	--color-page-text: var(--accent-color);

	font:
		400 18px/1 var(--font-main-family, Inter),
		sans-serif;
	color: var(--color-page-text, #00cc14);
	background: cover fixed var(--color-background, #000);
	background-image: var(--background-gradient);
	min-inline-size: 320px;
	min-block-size: 100dvb;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	place-items: center;
}

@supports (font-variation-settings: normal) {
	.page {
		font-weight: var(--font-weight-text);
		font-family: var(--font-main-family, Inter), sans-serif;
	}
}
