.button {
	--font-size: var(--font-small);
	--font-family: var(--font-second-family);
	--border-color: var(--accent-color);
	--color-text: var(--color-button-text);

	position: relative;
	display: block;
	font:
		0.8em var(--font-family, 'Press-Start-2P'),
		monospace;
	border: 2px solid var(--border-color);
	background-color: var(--color-background);
	color: var(--color-text);
	transition: box-shadow 0.3s ease;
	overflow: hidden;
}

.button__text::first-letter {
	text-transform: uppercase;
}

.button__text {
	position: relative;
	z-index: 10;
	mix-blend-mode: difference;
}

.button:focus {
	outline: none;
	box-shadow: 2px 2px 0 var(--color-box-shadow, #00cc14);
}

.button:focus-visible {
	--color-box-shadow: var(--accent-color);

	box-shadow: 2px 2px 0 var(--color-box-shadow, #00cc14);
}

.button::before {
	--color-hover: var(--accent-color);

	content: '';
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	inline-size: 100%;
	block-size: 100%;
	background-color: var(--color-hover);
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}

.button:hover::before {
	--color-hover-text: var(--accent-color);
	color: var(--color-hover-text);
	transform: translateX(0);
}
