.header {
	inline-size: 100%;
	padding-block: 100px;
}

.header__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid var(--color-border);
	background-color: var(--color-background);
	padding-inline: 14px;
}

.header__title {
	padding-block-start: 120px;
}

.header__subtitle {
	padding-block-start: 21px;
}

.header__theme-menu {
	padding-block: 25px;
}
