.header {
	inline-size: clamp(375px, 100%, 696px);
	padding-block: 100px;
}

.header__section {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-background);
	padding-inline: 14px;
}

.header__title {
	padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__subtitle {
	font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
	padding-block-start: 21px;
}

.header__theme-menu {
	padding-block: 25px;
}
