.card {
	display: flex;
	flex-direction: column;
	gap: 52px;
}

.card__item {
	--background-color: var(--color-background);

	background-color: var(--background-color);
}

.card__title {
	--font-size: var(--font-small-plus);
	--font-weight: var(--weight-b);

	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: 1.46;
	padding-inline: 10px;
}

.card__image-wrapper {
	position: relative;
	border-block: none;
	block-size: 371px;
}

.card__block {
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 27px;
	line-height: 1.17;
}

.card__button-block {
	display: flex;
	justify-content: end;
	gap: 13px;
}

.card__button {
	padding: 10px 35px;
	margin-inline-end: 2px;
}

.card__heart {
	inline-size: 27px;
	block-size: 24px;
}

.card__image-label {
	--text-stroke-color: var(--color-text-stroke-label);

	position: absolute;
	inset-inline-end: 12px;
	inset-block-start: 24px;
	mix-blend-mode: hard-light;
	text-shadow:
		-1px 0 var(--text-stroke-color, #000),
		1px 0 var(--text-stroke-color, #000),
		0 -1px var(--text-stroke-color, #000),
		0 1px var(--text-stroke-color, #000);
}

@supports (
	(text-stroke: 1px var(--text-stroke-color, #000)) or
		(-webkit-text-stroke: 1px var(--text-stroke-color, #000))
) {
	.card__image-label {
		-webkit-text-stroke: 1px var(--text-stroke-color, #000);
		text-stroke: 1px var(--text-stroke-color, #000);
		text-shadow: none;
	}
}
