.card {
	display: flex;
	flex-direction: column;
	gap: 52px;
	inline-size: clamp(375px, 100%, 696px);
}

.card__item {
	--background-color: var(--color-background);

	background-color: var(--background-color);
}

.card__title {
	--font-size: var(--font-small-plus);
	--font-weight: var(--weight-b);

	font-size: var(--font-size);
	font-variation-settings: 'wght' var(--font-weight);
	line-height: 1.46;
	padding-inline: 10px;
}

.card__image-wrapper {
	position: relative;
	border-block: none;
	inline-size: 100%;
	height: clamp(23.1875rem, 16.0352rem + 30.5164vw, 43.5rem);
}

.card__block {
	display: flex;
	flex-direction: column;
	padding: 25px;
	gap: 27px;
	line-height: 1.17;
}

.card__button-block {
	display: flex;
	justify-content: end;
	gap: 8px;
}

.card__button {
	display: flex;
	place-items: center;
	justify-content: center;
	inline-size: 126px;
	margin-inline-end: 2px;
}

.card__heart {
	block-size: 100%;
	aspect-ratio: 1/1;
}

.card__heart:focus {
	outline: none;
}

.card__icon-button {
	transition: outline 0.3 ease;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	outline: 2px solid var(--accent-color);
}

.card__image-label {
	--text-stroke-color: var(--color-text-stroke-label);
	z-index: 10;
	opacity: 0.5;

	position: absolute;
	inset-inline-end: 12px;
	inset-block-start: 24px;
	mix-blend-mode: hard-light;
	text-shadow:
		-1px 0 var(--text-stroke-color, #000),
		1px 0 var(--text-stroke-color, #000),
		0 -1px var(--text-stroke-color, #000),
		0 1px var(--text-stroke-color, #000);
}

@supports (
	(text-stroke: 1px var(--text-stroke-color, #000)) or
		(-webkit-text-stroke: 1px var(--text-stroke-color, #000))
) {
	.card__image-label {
		-webkit-text-stroke: 1px var(--text-stroke-color, #000);
		text-stroke: 1px var(--text-stroke-color, #000);
		text-shadow: none;
	}
}

.img-filter-brightness {
	filter: brightness(72%);
}

.img-filter-contrast {
	filter: contrast(22%);
}

.img-filter-blur {
	filter: blur(2px);
}

.img-filter-opacity {
	filter: opacity(0.6);
}

.img-filter-grayscale {
	filter: grayscale(0.8);
}

.img-filter-saturate {
	filter: saturate(1121%);
}

.img-filter-sepia {
	filter: sepia(90%);
}

.img-filter-combo {
	filter: invert(1) brightness(200%) saturate(60%) hue-rotate(90deg);
}
