.title {
	/* 49 */
	font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.title_style {
	--font-weight: var(--weight-rs);

	font-variation-settings: 'wght' var(--font-weight, 400);
	font-family: var(--font-second-family, 'Press-Start-2P'), monospace;
	text-transform: uppercase;
}

.text-variant {
	font-size: var(--font-small);
}
